<!--@Author Harish Vavilala-->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="orderline/create" class="btn btn-primary new">
        Create a new orderLine
      </a>
      <h2>Recent orderline entries</h2>
      <p>There are
        <%= orderline.query.length %> orderline.
          <br/>
      </p>
      <% for (var i = orderline.query.length-1; i >= 0; i--) {   
        orderLineItem = orderline.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  orderline._id %>
            <br /> lineNumber:
            <%=orderline.lineNumber%>
            <br /> productName:
            <%=orderline.productName%>
            <br /> quantity:
            <%=orderline.quantity%>
                    <br/>
                    <br/>
                          <a href="/orderline/delete/<%= orderline._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/orderline/details/<%= orderline._id %>" class="btn btn-info"> Details </a>
                          <a href="/orderline/edit/<%= orderline._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>
    </div>
  </div>
</div>